@using CMSLib
@using hCMS.Models
@model hCMS.Models.Countries.CountriesEditModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICSOFT CMS</title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>

    @using (Html.BeginForm("Edit", "Countries", FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
    <div class="w3-container" style="height: 390px; overflow: auto">
        @Html.ValidationMessageFor(m => m.SystemMessages, "", new { @class = string.Format("text-danger w3-center w3-container w3-section w3-round w3-padding {0}", Model.SystemStatus == SystemStatus.Success ? "w3-blue" : "w3-red") })
        <label class="w3-label w3-left w3-padding-top">Tên:</label>
        @Html.TextBoxFor(m => m.CountryName, new { @class = "w3-input w3-border w3-round w3-padding-small" })
        <label class="w3-label w3-left">Mô tả:</label>
        @Html.TextBoxFor(m => m.CountryDesc, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <div class="w3-col s2 w3-padding-top">
            <label class="w3-label">Ảnh:</label>
        </div>
        <div class="w3-col s10 w3-padding-top">
            <img alt="Chọn ảnh" src="@(!string.IsNullOrEmpty(Model.ImagePath) ? string.Concat(!Model.ImagePath.StartsWith("http://") ? Constants.ROOT_PATH : Constants.WEBSITE_MEDIADOMAIN, Model.ImagePath) : Url.Content("~/assets/images/them_moi.png"))" onclick="SelectName()" Id="SelectImage" style="width: 60px; height: 40px; cursor: pointer;" />
            <input type="checkbox" id="Display" name="Display" class="w3-check" /> <label class="w3-label1">Xóa ảnh</label>
        </div>
        <label class="w3-label w3-left">Thứ tự:</label>
        @Html.TextBoxFor(m => m.DisplayOrder, new { @class = "w3-input w3-border w3-round w3-padding-small", type = "number" })
        @Html.HiddenFor(m => m.ImagePath)
        @Html.HiddenFor(m => m.CountryId)
    </div>
        <div class="w3-center w3-bottom w3-padding-bottom">
            <button class="w3-btn w3-border w3-round w3-blue" type="submit"><i class="fa fa-floppy-o"></i> <b>Lưu thông tin</b></button>
        </div>
    }
        <script type="text/javascript">
            function SelectName() {
                var popup = window.open("/medias/select", "Popup", "width=850,height=550,scrollbars=1");
                popup.focus();
                return false;
            }
        </script>
</body>
</html>