@using hCMS.Library
@model List<CMSLib.Roles>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
        $(document).ready(function () {
            $('a.popup').on('click', function (e) {
                var page = $(this).attr("href");
                var cdialog = $('<div id="divEdit" style="overflow:hidden;"></div>')
                    .html('<iframe id="ifEdit" style="border: 0px; " src="' + page + '" width="100%" height="100%"></iframe>')
                    .dialog({
                        autoOpen: false,
                        modal: true,
                        height: 450,
                        width: 580,
                        title: $(this).attr("title"),
                        closeText: 'Đóng',
                        close: function (event, ui) {
                            $(this).remove();
                            window.location = '/Roles/Index';
                        }
                    });
                cdialog.dialog('open');
                e.preventDefault();
            });
        });
</script>

@using (Html.BeginForm("MultipleAction", "Roles", FormMethod.Post, null))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div>
        <div class="w3-padding-top w3-left">
            <b>Tổng cộng: @(Model.HasValue() ? Model.Count : 0)</b>
        </div>
        <div class="w3-padding-bottom w3-right">
            <a href="@(CmsConstants.ROOT_PATH)Roles/Edit" class="w3-btn w3-round w3-border w3-light-grey w3-hover-orange popup" title="Tạo mới"><i class="fa fa-plus"></i> Thêm mới</a>
            <button class="w3-btn w3-round w3-light-grey w3-border w3-hover-orange" name="delete" value="delete"><i class="fa fa-trash"></i> Xóa</button>
        </div>
    </div>
    <div>
        <table class="w3-table w3-bordered w3-striped w3-border">
            <thead class="w3-blue">
                <tr>
                    <th class="w3-border w3-center">#</th>
                    <th class="w3-border">Tên</th>
                    <th class="w3-border">Mô tả</th>
                    <th class="w3-border w3-center">Chức năng</th>
                    <th class="w3-border w3-center">Thao tác</th>
                    <th class="w3-border w3-center"><input id="selectall" type="checkbox" class="w3-check"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.HasValue())
                {
                    for (int index = 0; index < Model.Count; index++)
                    {
                        var role = Model[index];
                        <tr>
                            <td class="w3-border w3-center">@(index + 1)</td>
                            <td class="w3-border">@role.RoleName</td>
                            <td class="w3-border">@role.RoleDesc</td>
                            <td class="w3-border w3-center"><a href="@(CmsConstants.ROOT_PATH)Roles/RoleActions?RoleId=@role.RoleId" class="w3-text-blue w3-hover-text-orange popup" title="Chọn chức năng">Chức năng</a></td>
                            <td class="w3-border w3-center">
                                <a href="@(CmsConstants.ROOT_PATH)Roles/Edit?RoleId=@role.RoleId" class="fa fa-pencil-square-o w3-xlarge w3-text-blue w3-hover-text-orange popup" title="Sửa thông tin"></a>
                                <a href="@(CmsConstants.ROOT_PATH)Roles/Delete?RoleId=@role.RoleId" class="fa fa-trash w3-xlarge w3-text-blue w3-hover-text-orange" onclick="return confirm('Xác nhận xóa dữ liệu ?')" title="Xóa dữ liệu"></a>
                            </td>
                            <td class="w3-border w3-center chk-action"><input class="checkall w3-check" name="RolesId" type="checkbox" value="@role.RoleId"></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
@section menudieuhuong{
    <div class="menudieuhuong">
        <div class="menudieuhuong_conen">
            <img src="@Url.Content("~/assets/images/muitendieuhuong.png")" />
            <b>Danh sách quyền truy cập</b>
        </div>
    </div>
}