@using hCMS.Library
@model hCMS.Models.Actions.ActionRolesModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICSOFT CMS</title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
@using (Html.BeginForm("ActionRoles", "Actions", FormMethod.Post, null))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger w3-center" })
    @Html.AntiForgeryToken()
    <div class="w3-container" style="height: 390px; overflow: auto">
        @foreach (CMSLib.Roles role in Model.ListRoles)
        {
            if (Model.ListRoles.HasValue())
            {
                var roleAction = Model.ListRoleActions.RoleActionsGetByRoleId(role.RoleId);
                <input name="RolesId" id="chkRole_@role.RoleId" value="@role.RoleId" class="w3-check" type="checkbox" @(roleAction != null && roleAction.RoleId > 0 ? "checked" : string.Empty)>
                <label for="chkRole_@role.RoleId" class="w3-validate">@role.RoleDesc</label><br>
            }
        }
        @Html.HiddenFor(m=>m.ActionId)
    </div>
    <div class="w3-center w3-bottom w3-padding-bottom">
        <button class="w3-btn w3-border w3-round w3-blue" type="submit"><i class="fa fa-floppy-o"></i> <b>Lưu thông tin</b></button>
    </div>
}
</body>
</html>
