@using hCMS.Library
@using hCMS.Models
@model hCMS.Models.Actions.ActionEditModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ICSOFT CMS</title>
    @Styles.Render("~/bundles/Css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    @using (Html.BeginForm("Edit", "Actions", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
    <div class="w3-container" style="height: 450px; overflow: auto">
        @Html.ValidationMessageFor(m => m.SystemMessages, "", new { @class = string.Format("text-danger w3-center w3-container w3-section w3-round w3-padding {0}", Model.SystemStatus == SystemStatus.Success ? "w3-blue" : "w3-red") })
        <label class="w3-label w3-left w3-padding-top">Tên:</label>
        @Html.ValidationMessageFor(m => m.ActionName, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.ActionName, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left w3-padding-top">Mô tả:</label>
        @Html.ValidationMessageFor(m => m.ActionDesc, "", new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.ActionDesc, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Url:</label>
        @Html.TextBoxFor(m => m.Url, new { @class = "w3-input w3-border w3-round w3-padding-small" })

        <label class="w3-label w3-left">Chức năng cha:</label>
        @Html.DropDownListFor(m => m.ParentActionId, new SelectList(Model.ListActions, "ActionId", "ActionDesc", Model.ParentActionId).AddDefaultOption("...", "0"), new { @class = "w3-input w3-border w3-padding-small" })
        <p>
            @Html.CheckBoxFor(m => m.Display, new { @class = "w3-check" })
            <label class="w3-label1" for="Display">Hiển thị trên menu</label>
        </p>

        <label class="w3-label w3-left">Thứ tự:</label>
        @Html.TextBoxFor(m => m.ActionOrder, new { @class = "w3-input w3-border w3-round w3-padding-small", type = "number" })

        <label class="w3-label w3-left">Trạng thái:</label>
        @Html.DropDownListFor(m => m.ActionStatusId, new SelectList(Model.ListActionStatus, "ActionStatusId", "ActionStatusDesc", Model.ActionStatusId).AddDefaultOption("...", "0"), new { @class = "w3-input w3-border w3-padding-small" })
        @Html.HiddenFor(m => m.ActionId)
    </div>
        <div class="w3-center w3-bottom w3-padding-bottom">
            <button class="w3-btn w3-border w3-round w3-blue" type="submit"><i class="fa fa-floppy-o"></i> <b>Lưu thông tin</b></button>
        </div>
    }
</body>
</html>

